*{
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

.containar{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 0.8fr 1.2fr;
}

.item{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items:  center;
}


.item1{
    background-color: lightcoral;
}

.item2{
    background-color: skyblue;
}

.item3{
    background-color: orangered;
}

.item4{
    background-color: purple;
}