.bookshelf{
    margin-top: calc(44px + 200px); /*cals안에서 +는 띄어쓰기 해야함*/
    display: flex;
    gap: 20px;  /*row-gap: 20px; column-gap:20px*/
    flex-wrap: wrap;
    justify-content: center;
}

.row-container{
    display: flex;
    column-gap: 20px;
    align-items: flex-end;
}

.book-item{
    box-shadow: 0 16px 32px #ddd;
}

.book-item > img{
    width: 150px;
}